<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>

<property name="hibernate.connection.username">
root
</property>

<property name="hibernate.connection.password">
root
</property>

<property name="hibernate.connection.url">
jdbc:mysql://localhost/reviv?autoReconnect=true
</property>

<property name="hibernate.connection.driver_class">
com.mysql.jdbc.Driver
</property>
<property name="hibernate.dialect">
org.hibernate.dialect.MySQL5InnoDBDialect
</property>

<property name="hibernate.hbm2ddl.auto">update</property>
<property name="format_sql">true</property>
<property name="show_sql">true</property>


<!-- property name="hibernate.connection.provider_class">
org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider
</property>

<property name="hibernate.c3p0.acquire_increment">4</property>
<property name="hibernate.c3p0.min_size">5</property>
<property name="hibernate.c3p0.max_size">20</property>
<property name="hibernate.c3p0.timeout">1800</property>
<property name="hibernate.c3p0.max_statements">50</property>
<property name="hibernate.c3p0.idle_test_period">3000</property-->
 
<mapping class="br.com.otimo.reviv.modelo.Biometria"/>
<mapping class="br.com.otimo.reviv.modelo.EntidadePadrao"/>
<mapping class="br.com.otimo.reviv.modelo.Estoque"/>
<mapping class="br.com.otimo.reviv.modelo.Funcionalidade"/>
<mapping class="br.com.otimo.reviv.modelo.ItemEntrega"/>
<mapping class="br.com.otimo.reviv.modelo.Medicamento"/>
<mapping class="br.com.otimo.reviv.modelo.OperacaoEstoque"/>
<mapping class="br.com.otimo.reviv.modelo.Perfil"/>
<mapping class="br.com.otimo.reviv.modelo.Pessoa"/>
<mapping class="br.com.otimo.reviv.modelo.Posologia"/>
<mapping class="br.com.otimo.reviv.modelo.PerfilFuncionalidade"/>
<mapping class="br.com.otimo.reviv.modelo.PessoaContatoEletronico"/>
<mapping class="br.com.otimo.reviv.modelo.PessoaContatoTelefonico"/>
<mapping class="br.com.otimo.reviv.modelo.PessoaMedicamento"/>
<mapping class="br.com.otimo.reviv.modelo.PessoaTipoDocumento"/>
<mapping class="br.com.otimo.reviv.modelo.TipoDocumento"/>
<mapping class="br.com.otimo.reviv.modelo.TipoOperacao"/>
<mapping class="br.com.otimo.reviv.modelo.TipoPessoa"/>
<mapping class="br.com.otimo.reviv.modelo.TipoSituacaoTratamento"/>
<mapping class="br.com.otimo.reviv.modelo.Tratamento"/>
<mapping class="br.com.otimo.reviv.modelo.Usuario"/>

</session-factory>
</hibernate-configuration>